<div class="body">
    <div class="row row_center">
        <div class="col_extrasmall-12 col_small-12 col_medium-10 col_large-8">
            <div class="row">
                <ng-container *ngIf="!compeleAllTest">
                    <ng-container *ngIf="!selectedQuiz; else quiz">
                        <ng-container *ngFor="let quiz of quizList01;">
                            <div class="col_extrasmall-12 col_small-12 col_medium-12 col_large-12">
                                <div class="island"
                                     [class.island_ready]="complete[100].ready"
                                     (click)="selectQuiz(quiz, 100)">
                                    <div class="island-title">
                                        {{quiz.default.topic}}
                                    </div>
                                </div>
                            </div>
                            <div class="col_extrasmall-12 col_small-12 col_medium-12 col_large-12">
                                <div style="border-top: 1px solid #b99b69; width: 100%; margin-bottom: 24px;"></div>
                            </div>
                        </ng-container>
                        <ng-container *ngFor="let quiz of quizList02; let index = index">
                            <div class="col_extrasmall-12 col_small-12 col_medium-12 col_large-12">
                                <div class="island"
                                     [class.island_ready]="complete[index].ready"
                                     (click)="selectQuiz(quiz, index)">
                                    <div class="island-title">
                                        {{quiz.default.topic}}
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>
                </ng-container>

                <ng-template #quiz>
                    <div class="col_extrasmall-12 col_small-12 col_medium-12 col_large-12">
                        <div class="quiz-list-title quiz-list-title_first">
                            {{selectedQuiz.default.topic}}
                        </div>
                    </div>
                    <div class="col_extrasmall-12 col_small-12 col_medium-12 col_large-12">
                        <ng-container *ngFor="let answers of selectedQuiz.default.list; let answersIndex = index">
                            <!--checkQuestion(answers) || selectedQuiz.default.chartMode-->
                            <div *ngIf="!(successTest)"
                                 [id]="'id' + (answersIndex + 1)"
                                 class="quiz-answers"
                                 [class.quiz-answers_finished]="successTest"
                                 [class.quiz-answers_empty]="answers.selected === null && !firstCheck">
                                <div class="quiz-answers-title">
                                    {{answers.question}}
                                </div>
                                <div class="quiz-answer-container">
                                    <div *ngFor="let answer of answers.answers; let answerIndex = index"
                                         class="quiz-answer"
                                         [class.quiz-answer_correct]="successTest && highlightError(answers, answerIndex) && !selectedQuiz.default.chartMode"
                                         [class.quiz-answer_selected]="answers.selected === answerIndex"
                                         (click)="selectedQuiz.default.list[answersIndex].selected = answerIndex">
                                        {{answer.answer}}
                                    </div>
                                </div>
                            </div>
                        </ng-container>

                    </div>

                    <div *ngIf="successTest">
                        <div class="col_extrasmall-12 col_small-12 col_medium-12 col_large-12">
                            <div class="quiz-result">
                                Результат принят
                            </div>
                        </div>
                    </div>

                    <div *ngIf="!successTest"
                         class="col_extrasmall-12 col_small-12 col_medium-12 col_large-12">
                        <div style="display: inline-block">
                            <div class="button"
                                 (click)="checkResult()">
                                Отправить
                            </div>
                        </div>
                    </div>

                    <div class="button button_back"
                         (click)="selectedQuiz = false">
                        Назад
                    </div>
                    <!--<div *ngIf="successTest && !selectedQuiz.default.chartMode"-->
                         <!--class="">-->
                        <!--Набрано {{result}} баллов из {{selectedQuiz.default.list.length}}-->
                    <!--</div>-->
                    <!--<div *ngIf="successTest && selectedQuiz.default.chartMode">-->
                        <!--Набрано {{pointResult}} &#45;&#45;&#45;&#45;-->
                    <!--</div>-->
                </ng-template>

                <div *ngIf="compeleAllTest || true"
                     class="col_extrasmall-12 col_small-12 col_medium-12 col_large-12">
                    <ng-container *ngIf="sumPoints() >= 203">
                        <div class="graph-title">
                            ВЫСОКИЙ
                        </div>
                            <div class="graph-description">
                            Молодец! У тебя высокий уровень компьютерной грамотности! Продолжай в том же духе, тебе еще есть к чему стремиться!
                        </div>
                    </ng-container>
                    <ng-container *ngIf="sumPoints() >= 138 && sumPoints() < 202">
                        <div class="graph-title">
                            СРЕДНИЙ
                        </div>
                        <div class="graph-description">
                            Поздравляем, у тебя средний уровень компьютерной грамотности. Проанализируй критерии, в которых ты не дотянул до высокого. Покажи этот результат своему преподавателю, чтобы вы вместе продумали как работать дальше.
                        </div>
                    </ng-container>
                    <ng-container *ngIf="sumPoints() < 137">
                        <div class="graph-title">
                            НИЗКИЙ
                        </div>
                        <div class="graph-description">
                            Твой уровень компьютерной грамотности низкий. Но это не повод для грусти, а скорее повод задуматься какие критерии тебе нужно подтянуть. Обратись к преподавателю за помощью.
                        </div>
                    </ng-container>

                    <div class="graph">
                        <div class="graph-item">
                            <div class="graph-item-low"
                                 [style.bottom.%]="complete[100].low / complete[100].limit * 100"></div>
                            <div class="graph-item-middle"
                                 [style.bottom.%]="complete[100].middle / complete[100].limit * 100"></div>
                            <div class="graph-item-high"
                                 [style.bottom.%]="complete[100].high / complete[100].limit * 100"></div>
                            <div class="graph-item-result"
                                 [class.graph-item-result_low]="complete[100].low <= complete[100].points"
                                 [class.graph-item-result_middle]="complete[100].middle <= complete[100].points"
                                 [class.graph-item-result_high]="complete[100].high <= complete[100].points"
                                 [style.top.%]="(complete[100].limit -complete[100].points) / complete[100].limit * 100"></div>
                            <div class="graph-item-text">
                                {{complete[100].topic}}
                            </div>
                        </div>
                        <div class="graph-item">
                            <div class="graph-item-low"
                                 [style.bottom.%]="complete[0].low / complete[0].limit * 100"></div>
                            <div class="graph-item-middle"
                                 [style.bottom.%]="complete[0].middle / complete[0].limit * 100"></div>
                            <div class="graph-item-high"
                                 [style.bottom.%]="complete[0].high / complete[0].limit * 100"></div>
                            <div class="graph-item-result"
                                 [class.graph-item-result_low]="complete[0].low <= complete[0].points"
                                 [class.graph-item-result_middle]="complete[0].middle <= complete[0].points"
                                 [class.graph-item-result_high]="complete[0].high <= complete[0].points"
                                 [style.top.%]="(complete[0].limit - complete[0].points) / complete[0].limit * 100"></div>
                            <div class="graph-item-text">
                                {{complete[0].topic}}
                            </div>
                        </div>
                        <div class="graph-item">
                            <div class="graph-item-low"
                                 [style.bottom.%]="complete[1].low / complete[1].limit * 100"></div>
                            <div class="graph-item-middle"
                                 [style.bottom.%]="complete[1].middle / complete[1].limit * 100"></div>
                            <div class="graph-item-high"
                                 [style.bottom.%]="complete[1].high / complete[1].limit * 100"></div>
                            <div class="graph-item-result"
                                 [class.graph-item-result_low]="complete[1].low <= complete[1].points"
                                 [class.graph-item-result_middle]="complete[1].middle <= complete[1].points"
                                 [class.graph-item-result_high]="complete[1].high <= complete[1].points"
                                 [style.top.%]="(complete[1].limit - complete[1].points) / complete[1].limit * 100"></div>
                            <div class="graph-item-text">
                                {{complete[1].topic}}
                            </div>
                        </div>
                        <div class="graph-item">
                            <div class="graph-item-low"
                                 [style.bottom.%]="complete[2].low / complete[2].limit * 100"></div>
                            <div class="graph-item-middle"
                                 [style.bottom.%]="complete[2].middle / complete[2].limit * 100"></div>
                            <div class="graph-item-high"
                                 [style.bottom.%]="complete[2].high / complete[2].limit * 100"></div>
                            <div class="graph-item-result"
                                 [class.graph-item-result_low]="complete[2].low <= complete[2].points"
                                 [class.graph-item-result_middle]="complete[2].middle <= complete[2].points"
                                 [class.graph-item-result_high]="complete[2].high <= complete[2].points"
                                 [style.top.%]="(complete[2].limit - complete[2].points) / complete[2].limit * 100"></div>
                            <div class="graph-item-text">
                                {{complete[2].topic}}
                            </div>
                        </div>
                        <div class="graph-item">
                            <div class="graph-item-low"
                                 [style.bottom.%]="complete[3].low / complete[3].limit * 100"></div>
                            <div class="graph-item-middle"
                                 [style.bottom.%]="complete[3].middle / complete[3].limit * 100"></div>
                            <div class="graph-item-high"
                                 [style.bottom.%]="complete[3].high / complete[3].limit * 100"></div>
                            <div class="graph-item-result"
                                 [class.graph-item-result_low]="complete[3].low <= complete[3].points"
                                 [class.graph-item-result_middle]="complete[3].middle <= complete[3].points"
                                 [class.graph-item-result_high]="complete[3].high <= complete[3].points"
                                 [style.top.%]="(complete[3].limit - complete[3].points) / complete[3].limit * 100"></div>
                            <div class="graph-item-text">
                                {{complete[3].topic}}
                            </div>
                        </div>
                        <div class="graph-item">
                            <div class="graph-item-low"
                                 [style.bottom.%]="complete[4].low / complete[4].limit * 100"></div>
                            <div class="graph-item-middle"
                                 [style.bottom.%]="complete[4].middle / complete[4].limit * 100"></div>
                            <div class="graph-item-high"
                                 [style.bottom.%]="complete[4].high / complete[4].limit * 100"></div>
                            <div class="graph-item-result"
                                 [class.graph-item-result_low]="complete[4].low <= complete[4].points"
                                 [class.graph-item-result_middle]="complete[4].middle <= complete[4].points"
                                 [class.graph-item-result_high]="complete[4].high <= complete[4].points"
                                 [style.top.%]="(complete[4].limit - complete[4].points) / complete[4].limit * 100"></div>
                            <div class="graph-item-text">
                                {{complete[4].topic}}
                            </div>
                        </div>
                        <div class="graph-item">
                            <div class="graph-item-low"
                                 [style.bottom.%]="complete[5].low / complete[5].limit * 100"></div>
                            <div class="graph-item-middle"
                                 [style.bottom.%]="complete[5].middle / complete[5].limit * 100"></div>
                            <div class="graph-item-high"
                                 [style.bottom.%]="complete[5].high / complete[5].limit * 100"></div>
                            <div class="graph-item-result"
                                 [class.graph-item-result_low]="complete[5].low <= complete[5].points"
                                 [class.graph-item-result_middle]="complete[5].middle <= complete[5].points"
                                 [class.graph-item-result_high]="complete[5].high <= complete[5].points"
                                 [style.top.%]="(complete[5].limit -complete[5].points) / complete[5].limit * 100"></div>
                            <div class="graph-item-text">
                                {{complete[5].topic}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
