@import '../../sharedStyle/index';

:host {
    display: block;
}

.body {
    padding: 60px 28px;
    color: @body-color;
    background-color: @body-bg;
}

.quiz-list-title {
    .h4();
    margin-bottom: 36px;

    &:not(&_first) {
        padding-top: 36px;
        border-top: 1px solid @body-color;
    }
}

.island {
    .transition(all);
    .h5();
    position: relative;
    transform: translateY(0);
    border: 1px solid @border-color;
    border-radius: @radius;
    margin-bottom: 24px;
    background-color: fade(@island-bg-hover, 8);;
    cursor: pointer;

    @media @tablet {
        padding: 12px;
    }

    @media @desktop-min {
        padding: 24px;
    }

    &:hover {
        transform: translateY(-8px);
        background-color: fade(@island-bg-hover, 56);
    }

    &_ready {
        pointer-events: none;
        user-select: none;
        opacity: .3;
    }
}

.button {
    .transition(all);
    .h5();
    position: relative;
    z-index: 111;
    transform: translateY(0);
    border: 1px solid @border-color;
    border-radius: @radius;
    margin-bottom: 24px;
    background: fade(@island-bg-hover, 8), #fff;
    cursor: pointer;

    margin-top: 32px;

    @media @tablet {
        padding: 12px;
    }

    @media @desktop-min {
        padding: 24px;
    }

    &:hover {
        transform: translateY(-8px);
        background-color: fade(@island-bg-hover, 56);
    }

    &_back {
        position: fixed;
        right: 10%;
        bottom: 10%;
    }
}

.quiz-result {
    .h3();
}

.quiz-answers {
    .transition(background-color);
    background-color: @white;
    margin-top: 24px;

    &_empty {
        background-color: fade(@color-palette-5, 16);
    }

    &_finished {
        pointer-events: none;
        user-select: none;
    }
}

.quiz-answers-title {
    .p1();
    margin-bottom: 12px;
}

.quiz-answer-container {
    .transition(max-height);
    max-height: 100%;
    overflow: hidden;
}

.quiz-answer {
    .transition(all);
    .p2();
    position: relative;
    padding: 12px 36px;
    cursor: pointer;

    &:hover {
        background-color: fade(@black, 8);
    }

    &:before {
        content: '-';
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
    }

    &&_selected {
        background-color: fade(@black, 16);

        &:before {
            content: '+';
        }
    }

    &&_correct {
        color: @white;
        background-color: #ed4337;
    }
}

.graph {
    position: relative;
    height: 500px;
    width: 100%;
    border-left: 2px solid @black;
    border-bottom: 2px solid @black;
    display: flex;
}

.graph-item {
    position: relative;
    flex: 1 1;
    margin: 0 24px;
    background-color: fade(grey, .3);
}

.graph-item-low {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    border-bottom: 4px dotted red;
}

.graph-item-middle {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    border-bottom: 4px dotted orange;
}

.graph-item-high {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    border-bottom: 4px dotted green;
}

.graph-item-result {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    margin: 0 20%;
    background-color: fade(red, 50);

    &_low {
        background-color: fade(red, 50);
    }

    &_middle {
        background-color: fade(orange, 50);
    }

    &_high {
        background-color: fade(green, 100);
    }
}

.graph-item-text {
    .h5();
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
    text-align: center;
    writing-mode: tb-rl;
    background-color: rgba(255,255,255,.5);
    pointer-events: none;
    user-select: none;
}

.graph-title {
    .h5();
    margin-top: 32px;
}

.graph-description {
    .p2();
    margin-top: 20px;
}
