@import '../../sharedStyle/index';

:host {
    display: block;
}

.body {
    padding: 60px 28px;
    color: @body-color;
    background-color: @body-bg;
}

.quiz-list-title {
    .h4();
    margin-bottom: 36px;

    &:not(&_first) {
        padding-top: 36px;
        border-top: 1px solid @body-color;
    }
}

.island {
    .transition(all);
    .h5();
    position: relative;
    transform: translateY(0);
    border: 1px solid @border-color;
    border-radius: @radius;
    margin-bottom: 24px;
    background-color: fade(@island-bg-hover, 8);;
    cursor: pointer;

    @media @tablet {
        padding: 12px;
    }

    @media @desktop-min {
        padding: 24px;
    }

    &:hover {
        transform: translateY(-8px);
        background-color: fade(@island-bg-hover, 56);
    }
}

.quiz-answers {
    margin-top: 24px;
}

.quiz-answers-title {
    .p1();
    margin-bottom: 12px;
}

.quiz-answer {
    .transition(all);
    .p2();
    position: relative;
    padding: 12px 36px;
    cursor: pointer;

    &:hover {
        background-color: fade(@black, 8);
    }

    &:before {
        content: '-';
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
    }

    &&_selected {
        background-color: fade(@black, 16);

        &:before {
            content: '+';
        }
    }
}
