@black: #333;
@white: #FFF;

@color-palette-1: #49796b;
@color-palette-2: #a3c1ad;
@color-palette-3: #9fccc3;
@color-palette-4: #b99b69;
@color-palette-5: #f5b98c;

@header-bg: @color-palette-1;
@header-color: @white;
@aside-bg: @color-palette-2;
@aside-color: @white;
@body-bg: @white;
@body-color: @black;

@mobile: ~'screen and (max-width: 639px)';
@mobile-min: ~'screen and (min-width: 300px)';
@mobile-interval: ~'(min-width: 480px) and (max-width: 639px)';
@tablet: ~'screen and (max-width: 959px)';
@tablet-min: ~'screen and (min-width: 640px)';
@tablet-interval: ~'(min-width: 640px) and (max-width: 959px)';
@desktop: ~'screen and (max-width: 1359px)';
@desktop-min: ~'screen and (min-width: 960px)';
@desktop-interval: ~'(min-width: 960px) and (max-width: 1359px)';
@desktop-lg-min: ~'screen and (min-width: 1360px)';
